.navbar{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFEE63;
    color: #FF5B00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    z-index: 999;

}